<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(app_name: "#{ENV['VENDOR_NAME']} Portal", page_title_symbol: :page_title, separator: " | ") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="view-transition" content="same-origin" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "pagy", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="<%= body_class %>">
    
      <%= yield %>
   
  </body>
</html>
